* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.App {
  color: #404040;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid {
  margin: 15px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
  align-items: center;
}

@media (max-width: 1825px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1620px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1430px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
